global
  log 127.0.0.1 local0
  log 127.0.0.1 local1 notice
  user {{haproxy_user}}
  group {{haproxy_group}}
  daemon

defaults
  log global
  mode http
  option httplog
  option dontlognull
  contimeout 5000
  clitimeout 50000
  srvtimeout 50000
  option redispatch
  retries 3
  option httpclose
  option forwardfor
  option httpchk HEAD / HTTP/1.0

frontend services-farm
  bind *:8080
  acl checkins path_beg /checkins
  use_backend checkins_srv if checkins

backend checkins_srv
  reqrep ^([^\ ]*\ /)checkins[/]?(.*) \1\2
  balance roundrobin
  server checkins01 localhost:9000
  #server checkins02 localhost:9001

listen haproxyapp_admin:9100 127.0.0.1:9100
  mode http
  stats uri /
