global
  log 127.0.0.1 local0
  log 127.0.0.1 local1 notice
  user {{haproxy_user}}
  group {{haproxy_group}}
  daemon

defaults
  log global
  mode http
  option httplog
  option dontlognull
  contimeout 5000
  clitimeout 50000
  srvtimeout 50000
  option redispatch
  retries 3
  option httpclose
  option forwardfor
  option httpchk HEAD / HTTP/1.0

frontend services-farm
  bind *:8080
  {% for service,config in services.items() %}
  acl {{service}} path_beg {{config.path}}
  use_backend {{service}}_srv if {{service}}
  {% endfor %}

{% for service,config in services.items() %}
backend {{service}}_srv
  reqrep ^([^\ ]*\ /){{service}}[/]?(.*) \1\2
  balance roundrobin
  server {{service}} localhost:{{config.port}}
{% endfor %}

listen haproxyapp_admin:9100 0.0.0.0:9100
  mode http
  stats uri /
